@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* header geral */
#headerMain {
    width: 100%;
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo {
    font-size: 4vh;
    font-family: "poppins";
    font-weight: 800;
    background-color: steelblue;
}

.barraNav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    background-color: gray;
    width: 100%;
    height: 4vh;
    line-height: 4vh;
}

.btnNav {
    width: auto;
    font-family: "Poppins";
    color: white;
    font-weight: 500;
    margin-left: 5vw;
}


a {
    text-decoration: none;
    color: inherit;
    /* Adota a cor do texto ao redor */
}

a:hover {
    transition: 3;
    color: steelblue;
}

/* pagina de home do projeto */
.msgErro {
    text-align: center;
    margin-top: 2vh;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 2vh;
}

.containerPost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}











/* pagina de criar post */

.tituloGeral {
    font-size: 3vh;
    font-family: "poppins";
    font-weight: 700;
    text-align: center;
}

.formCriar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#divConteudo {
    display: flex;
    flex-direction: column;
}

.labels {
    font-family: "Poppins";
}

#tipo,
#imagem,
#video {
    font-family: "poppins";
}

#conteudo {
    width: 20vw;
    height: 15vh;
}


#btnCriar {
    width: 10vw;
    height: 3vh;
    font-family: "Poppins";
    background-color: yellowgreen;
    border-radius: 2vh;
    color: black;
    border: 0.1vh solid gray;
}

#btnCriar:hover {
    cursor: pointer;
    transition: 3;
}

#tipo:hover {
    cursor: pointer;
}


/* pagina de procurar/editar posts */

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#search {
    width: 25vw;
    height: 3vh;
    font-family: "Poppins";
    text-align: center;
    margin-right: 0.5vh;
}

#filter {
    height: 3.5vh;
    width: 8vw;
    font-family: "Poppins";
    margin-right: 0.5vh;
}

#searchButton {
    height: 3.5vh;
    width: 3.5vw;
    font-family: "Poppins";
}

#postsContainer {
    text-align: center;
}


/* 
EXIBIÇÃO DOS POSTS NO METODO STRATEGY
 */

.ajustarMeio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* AQUI COMEÇA
A EXIBIÇÃO DA 
IMAGEMSTRATEGY */
.postImagem {
    width: 40vw;
    height: 70vh;
    max-height: 80vh;
    background-color: rgb(159, 171, 171);
    border: 0.6vh solid gray;
    border-radius: 2vh;
    margin: 2vh;
}

#tituloImagem {
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    margin-top: 1vh;
}

#conteudoImagem {
    font-family: "Poppins";
    font-weight: 400;
    text-align: justify;
    margin: 1vh;
    max-height: 20vh;
}

.imagemPost {
    max-width: 35vw;
    height: 50vh;
    display: flex;
    /* Usa flexbox para o alinhamento */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    text-align: center;
    margin: 0 auto;
    /* Garante que a div tenha margem automática para centralização */
    border-radius: 1.5vh;
}

.imagemPost img {
    max-width: 100%;
    /* Garante que a imagem ocupe até 100% da largura disponível */
    max-height: 100%;
    /* Garante que a imagem ocupe até 100% da altura disponível */
    object-fit: contain;
    /* Faz com que a imagem mantenha suas proporções sem ultrapassar o contêiner */
}

/* AQUI COMEÇA
A EXIBIÇÃO DO
TEXTOSTRATEGY */

.postTexto {
    width: 50vw;
    height: 40vh;
    max-height: 50vh;
    background-color: rgb(231, 231, 231);
    border: 0.6vh solid rgb(251, 187, 187);
    border-radius: 2vh;
}

#tituloTexto {
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    margin-top: 1vh;
}

#conteudoTexto {
    font-family: "Poppins";
    font-weight: 400;
    text-align: justify;
    margin: 1vh;
    max-height: 20vh;
}

/* AQUI COMEÇA
A EXIBIÇÃO DO
VIDEOSTRATEGY */

.postVideo {
    width: 60vw;
    height: 75vh;
    max-height: 85vh;
    background-color: rgb(231, 231, 231);
    border: 0.6vh solid rgb(251, 187, 187);
    border-radius: 2vh;
}
#tituloVideo {
    font-family: "Poppins";
    font-weight: 600;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

#conteudoVideo {
    font-family: "Poppins";
    font-weight: 400;
    text-align: justify;
    margin: 1vh;
    max-height: 20vh;
}
#videoPost {
    max-width: 80%; /* Ajuste a largura do vídeo */
    height: auto; /* Mantém a proporção do vídeo */
    display: block; /* Para garantir que o vídeo seja exibido como um bloco */
    margin: 0 auto; /* Alinha o vídeo ao centro */
}